
#BARL_desc {
	width:250px;
height:100px;
}
#BARL_title {
	width:250px;
	
}
#BARL_url {
	width:250px;
}
#BARL_email {
	width:250px;
}

#BARL_reciprocal_url{
	width:250px;
}
#BARL_mylink{
	width:250px;
	height:100px;
}